.main-con-3 {
    background: url("../img/Layer 4.png") no-repeat fixed center;
    background-size: cover;
    height: max-content;
    font-family: Lato, sans-serif;
    color: aliceblue;
}

.main-con-3 ol {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1em;
}

.main-con-3 address a {

    color: white;
    text-decoration: none;
}

.cent-3 {
    width: 50%;
    padding: 14em 0;
    position: relative;
}

.cent-3 h2 {
    font-size: 34px;
}

.cent-3 > .text-sub-con {
    border-color: aliceblue;
}

.cent-3 .text-sub-con:after, .cent-3 .text-sub-con:before {
    border-color: #ffffff;
}