
footer {
    padding: 3em;
}

.f-con {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu {
    font-family: Raleway,sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: rgba(143, 161, 188, 0.6);
    transition: all .3s;
    text-align:center;
}
.menu ul{
    padding:0;
    list-style-type: none;
    display: inline-block;
    margin:0;
}
.menu ul li{
    display:inline-block;
    font-size:1.1em;
}
.menu ul li a{
    display:block;
    padding:20px 20px;
    color: #fdfdfd;
    text-transform: uppercase;
    cursor:pointer;
    border-bottom:3px solid transparent;
    transition: all.3s;
    text-decoration: none;
    font-family: Lato, sans-serif;
}
.menu ul li a:hover,.menu ul li a.active{
    text-decoration:none;
}
.menu ul li a:focus{
    outline: 0!important;
    text-decoration:none;
}
.menu ul li a.active{
    border-color:#fafafa;
}
